
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Global Styles  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
    font-size: 1em;
}
    body{
        background: #000016;
    }

        .container-fluid {
            min-width: 385px;
            max-width: 1000px;
            }
            

    .col-12.flip.mobile-nav {
        display: none;
    }

    .row.sidebar {
        min-width: 190px;
    }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Text Modification  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

            body, p, a, ul, ol {
                font-family: 'Open Sans', sans-serif;
            }
            
            
            h1, h2, h3, h4, h5, h6, span {
                font-family: 'Merriweather', serif;
            }

            h2 {
                margin-bottom: 1.2em;
            }

            h3 {
                margin-left: -100%;
                margin-right: -100%;
                padding-top:10%;
            }

            h5 {
                margin-top: 8%;
                text-transform: uppercase;
                border-bottom: 1px solid;
            }

            h6{
                font-weight: bold;
            }

            #title {
                letter-spacing: 2px;
            }

            
            p {
                margin-top: 1.5em;
                margin-bottom: 1.5em;

                font-size: .8rem;

                }
                
            h6.project-summary {
                margin-top: 5%;
                padding-top: 3%;
                border-top: 1px solid #000016;
            }
            
            a {
                color: #000B19;
            }
            
            ul {
                padding-top: 10px;
                padding-bottom: 10px;
                list-style: none;
                -webkit-padding-start: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }

            li {
                margin-left: -100%;
                margin-right: -100%;
                padding-top: 5px;
                padding-bottom: 5px;
            }


            h1, h2 {
                text-decoration: none;
                
            }

            h4.list {
                padding-top: 5%;
                text-decoration: underline
            }

        
            .project-title, .project-type {
                text-decoration: none;
            }

            a.row.full:hover {
                background: #445878;
            }
            
            a.btn-proto {
                
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .675rem 5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            color: #fff;
            background-color: #0e5787;
            border-color: #0e5787;
            }
                        
            
.center h2 {
    font-size: 1.4rem;
    margin-bottom: 0px;
}


a.row.full .center {
    margin-left:4.5%;
}

.content .center-text {
    font-size: 1.4rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Color Groups  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


   
            /* https://material.io/color/#!/?view.left=0&view.right=1&primary.color=00213b&primary.text.color=ffffff&secondary.color=0E5787 
            
            
            // Adobe Wheel
            https://color.adobe.com/create/color-wheel/?base=0&rule=Complementary&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0,0.13853663570677746,0.23137254901960785,0,0.3181646464113279,0.5313725490196078,0.05313725490196077,0.33948543667215586,0.5313725490196078,0.5313725490196078,0.31307655662062106,0,0.23137254901960785,0.13632115749532578,0&swatchOrder=0,1,2,3,4
            */
            



            .blk {
            background: #000;
            padding-top: 10%;
            padding-bottom: 10%;
            }
            
            body .blk, .blk h1, .blk h2, .blk h3, .blk h4, .blk h5, .blk h6, .blk span, .blk p, .blk a, .blk ul, .blk ol {
                color: #eeeff7;
            }

            .gld {
                background: #875200;
            }
            
            body .gld, .gld h1, .gld h2, .gld h3, .gld h4, .gld h5, .gld h6, .gld span, .gld p, .gld a, .gld ul, .gld ol {
                color: #eeeff7;
            }

            .drkblu {
            background: #000016;

            }

            body .drkblu, .drkblu h1, .drkblu h2, .drkblu h3, .drkblu h4, .drkblu h5, .drkblu h6, .drkblu span, .drkblu p, .drkblu a, .drkblu ul, .drkblu ol {
                color: #eeeff7;
            }
            
            .deepblu {
            background: #00213b;

            }

            body .deepblu, .deepblu h1, .deepblu h2, .deepblu h3, .deepblu h4, .deepblu h5, .deepblu h6, .deepblu span, .deepblu p, .deepblu a, .deepblu ul, .deepblu ol {
                color: #eeeff7;
            }
            
            .lightblu {
            background: #304866;

            }
            
            body .lightblu, .lightblu h1, .lightblu h2, .lightblu h3, .lightblu h4, .lightblu h5, .lightblu h6, .lightblu span, .lightblu p, .lightblu a, .lightblu ul, .lightblu ol {
                color: #eeeff7;
            }

            .paste {
            background: #6E7789;

            }

            body .paste, .paste h1, .paste h2, .paste h3, .paste h4, .paste h5, .paste h6, .paste span, .paste p, .paste a, .paste ul, .paste ol {
                color: #eeeff7;
            }
            
            .pstlblk {
            background: #1c1d21;

            }
            
            .pstlgry {
            background: #31353D;

            }

            body .pstlgry, .pstlgry h1, .pstlgry h2, .pstlgry h3, .pstlgry h4, .pstlgry h5, .pstlgry h6, .pstlgry span, .pstlgry p, .pstlgry a, .pstlgry ul, .pstlgry ol {
                color: #eeeff7;
            }
            
            .lightgry {
            background: #3B404A;

            }
            
            body .lightgry, .lightgry h1, .lightgry h2, .lightgry h3, .lightgry h4, .lightgry h5, .lightgry h6, .lightgry span, .lightgry p, .lightgry a, .lightgry ul, .lightgry ol {
                color: #000016;
            }

            .pstlblu {
            background: #445878;

            }
            
            .wtrblu {
            background: #92cdcf;

            }
            
            .crm {
            background: #eeeff7;
            padding-left: 5%;
            padding-right: 5%;

            }

            body .crm, .crm h1, .crm h2, .crm h3, .crm h4, .crm h5, .crm h6, .crm span, .crm p, .crm a, .crm ul, .crm ol {
                color: #000016;
            }

            











/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Header Styling  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

            

            
            .header {
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            float: left;

            overflow: hidden;
            z-index: 1;
            }
            
            
            /* Light Logo */

            .col-12.flip.logo.light {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            background: #fff;
            padding: 10px 10px;
            }

            .light a#home {
                margin-left: 9%;
                margin-right: 9%;
                padding: 8%;
            }


            #logo {
            width: 100%;
            max-width: 65px;
            }
            
            .col-12.flip.button.mobile {
            max-width: 75%;
            margin: 3% auto 2px auto;
            }

            .mobile a#home {
                margin-top: 8%;
            }                
            
            
            .topnav {
                overflow: hidden;
                background: #dadbe0;
                min-width: 190px;
                max-width: 250px;
                /*
                margin-left: 10px;
                margin-right: 10px;
                */
                }
                


                .topnav a {
                display: block;
                padding: 3% 2%;
                text-decoration: none;
                font-size: .9rem;
                font-weight: bolder;
                }
                
                
                .topnav .header-button:hover {
                border-bottom: 2px solid #0e5787;
                margin-bottom: -2px;
                /*
                border-left: 4px solid #0e5787;

                */
                }

                .header-button {
                    color: #000016;

                    /*
                    border-left: 4px solid #000016;
                    border-bottom: 2px solid #000016;
                    */
                }

                .header-button.active {
                color: #0e5787;
                border-bottom: 2px solid #0e5787;
                margin-bottom: -2px;
                /*
                border-left: 4px solid #000016;
                background: #000016;
                */
                }

                .topnav .icon {
                color: #eeeff7;
                }
                
                
                .topnav a.header-button-sub {
                    display: block;
                    margin: 1px 15% 1px 20%;
                    text-align: left;
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: .7rem;

                    /*
                    border-left: 1px solid #000016;
                    border-left: 2px solid #000016;
                    border-bottom: 1px solid #0e5787;
                    */
                    }
                    
                    .topnav a.header-button-sub:hover {
                        color: #0e5787;
                        border-left: 2px solid #0e5787;
                        padding-left: 5%;
                    }
    
                    a.header-button-sub {
                        color: #000016;
                    }
    
                    a.header-button-sub.active {
                    color: #0e5787;
                    padding-left: 5%;
                    border-left: 2px solid #0e5787;
                    }

                    .header-button:hover {
                    text-decoration: none;
                    }
                    
                    .header-button {
                    margin-left: 8%;
                    margin-right: 8%;
                    white-space: nowrap;
                    }
            

                    .topnav .cont-arrow.exp.collapsed {
                        display: inline-flex;
                    }
                    
                    .topnav .cont-arrow.exp {
                        display: none;
                    }

                    .topnav .cont-arrow.min {
                        display: inline-flex;
                    }
                    
                    .topnav .cont-arrow.min.collapsed {
                        display: none;
                    }




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Page Styling   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





            /* Page Styling */

            .row.full.title {
                padding-top: 2%;
                padding-bottom: 2%;
            }
            .row.full.title h1#title{
                text-align: center;
                margin-top: 2%;
                margin-bottom:2%;

            }

            .content {
                padding-bottom:5%;
                padding-top:5%;
            }
            
            .col.full {
                display: block;
                padding: 0px 0px;
                min-width: 385px;
                max-width: 1140px;
            }

            .col-12.full {
                display: block;
                padding: 5px 0px;
                min-width: 385px;
                max-width: 1140px;
            }

            #content_area {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
            .project-wrapper {

                margin-top: 15%;
                margin-bottom: 15%;
            }

            .selection {
            min-height: 176px;
            padding: 5% 0px;
            background: #fff;
            border: 1px solid #576366;
            border-radius: 15px;
            box-shadow:         inset 0px -2px 17px 2px #9c9c9c;
            -moz-box-shadow:    inset 0px -2px 17px 2px #9c9c9c;
            -webkit-box-shadow: inset 0px -2px 17px 2px #9c9c9c;
            align-items: center!important;
            
            }

            .selection:hover {
                background: #dadbe0;
                }



            .copyright {
                position: absolute;
                bottom: 1%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            .copyright a {
                padding: 0px;
            }

            .copyright .social {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 27px;
            }

            .copyright p{
                text-align: center;
                font-size: .7rem;
                white-space: nowrap;
                color: #000016;
            }


            button.view-proto {
                background-color: #000016;
                border: 0px;
            }


            button.view-proto:hover {
                background-color: #0e5787;
                border-color: #eeeff7;
            }

            
            button.lft {
                display: block;
                margin-left: 5%;
            }

            button.rght {
                display: block;
                float: right;
                margin-right: 5%;
            }

            .col span {
                color: #eeeff7;
                font-size: 2.3vw;
               }
            
            .col.spacer {
                padding-top: 5%;
                padding-bottom: 10px;
            }
            img.fit.banner {
                width: 50%;
            }

            .img {
                margin-left: 25%;
                margin-right: 25%;
            }

            p.img-desc {
                margin-top: 5px;
            }

            img.fit {
                width: 100%;
            }



            .row.full {
                margin: 0px;
                padding-top: 5%;
                padding-bottom: 5%;
            }

            .row.selection {
                margin: 5% 2%;
                cursor: pointer;
            }

            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 70%;
            }

            .center-text {
                text-align: center;
            }
            
            .mask {
                background: #000;
            }

            .img-overlay {
                opacity: .75;
            }

            .img-overlay-text {
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                font-weight: bolder;
                font-size: 2rem;
                color: #eeeff7;
                display: block;
            }

            .separator {
                height:1px;
                border: 1px solid #000016;
            }

            .space {
                padding-top: 2%;
                padding-bottom: 4%
            }
            

            .img-mask{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
              }

              .right {
                position: absolute;
                color: red;
                top: 30%;
                left: 50%;
                padding-right: 10%;
              }

              .left {
                position: absolute;
                color: red;
                top: 30%;
                left: 10%;
                padding-right: 55%;
                text-align: right;
              }

              .img-text {
                font-size: 1.35rem;
                line-height: 2em;
                word-wrap: normal;
            }

            


        .col {
            overflow: hidden;
        }

            .cont-arrow {
                        padding-right:10px;
            }
            
            .row.full.pstlgry.collapsed .cont-arrow.exp {
                        display:inherit;
            }

            .row.full.pstlgry.collapsed .cont-arrow.min {
                        display:none;
            }

            .row.full.pstlgry .cont-arrow.exp {
                        display:none;
            }

        /* ----------------------IMAGE MASKS-------------------------*/

        
/* ----- PhotoSlide ----- */
          .slide-wrapper {
            overflow:hidden;
            padding-top: 2%;
            padding-bottom: 6%;
            MAX-WIDTH: 100%;
          }

          .photobanner {
              width: calc((25.2vw)*11);
              min-width: 1763.990px;
              max-width: 605%;
           }

           .slide-panel img {
               padding: 4%;
               width: 100%;
           }

           .photobanner .slide-panel {
            display: inline-block;
            margin: auto .6vw;
            background: white;
            border: 1px solid #0002;
            border-radius: 2%;
            width: 24vw;
            max-width: 300px;
            min-width: 150px;
            /* -webkit-transition: all 0.5s ease; */
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
           }


        /* ----- FIX WHEN MODAL IS READY ----- */
        /*
           .photobanner .slide-panel:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;
            
            -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
           }
           */
          .start{
            -webkit-animation: bannermove 45s linear infinite;
            -moz-animation: bannermove 45s linear infinite;
            -ms-animaion: bannermove 45s linear infinite;
            -o-animation: bannermove 45s linear infinite;
            /* animation: bannermove 45s linear infinite; */
          }

          @keyframes "bannermove" {
            0% {
               margin-left: 0px;
            }
            100% {
               margin-left: -42.9%;
            }
            
           }
            
           @-moz-keyframes bannermove {
            0% {
              margin-left: 0px;
            }
            100% {
              margin-left: -42.9%;
            }
            
           }
            
           @-webkit-keyframes "bannermove" {
            0% {
              margin-left: 0px;
            }
            100% {
              margin-left: -42.9%
            }
            
           }
            
           @-ms-keyframes "bannermove" {
            0% {
              margin-left: 0px;
            }
            100% {
              margin-left: -42.9%;
            }
            
           }
            
           @-o-keyframes "bannermove" {
            0% {
              margin-left: 0px;
            }
            100% {
              margin-left: -49.2%;
            }
            
           }

           figcaption strong {
               font-size: 1.2em;
           }

           figcaption {
               font-size: .8em;
               text-align: center;
               padding-bottom: 4%;
           }



           
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Display Sizes  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */           
         
@media only screen and (min-width: 1350px) {

}


            
            @media only screen and (min-width: 961px) {
            .header {
                height: 100vh;
                min-width: 125px;
                min-height: 630px;
            }
            
            .col span {
                font-size: 1.5rem;
                }
            
            #logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            h1 {
                font-size: 2.1rem;
            }

            h1.project-title {
                font-size: 2rem
            }

            h4.project-type {
                font-size: 1.4rem
            }

            h6.project-summary {
                font-size: 1rem
            }

            h6.read {
                font-size: 1rem
            }

            .img-text {
                font-size: 1.35rem;;
                word-wrap: normal;
            }

        }





        @media only screen and (max-width: 960px) {
            .header {
                height: 100vh;
                min-height: 640px;
            }

            h1 {
                font-size: 1.3rem;
            }



                h1.project-title {
                    font-size: 1.6rem
                }
    
                h4.project-type {
                    font-size: 1rem
                }
    
                h6.project-summary {
                    font-size: .8rem
                }

                h6.read {
                    font-size: .8rem
                }

                .img-text {
                    font-size: .9rem;;
                    word-wrap: normal;
                }

                            
            figcaption strong {
                font-size: .7rem;
            }
 
            figcaption {
                font-size: .6em;
                text-align: center;
                padding-bottom: 4%;
            }

        }

        @media only screen and (max-width: 720px) {
            .header {
                height: 100vh;
            }
            h1 {
                font-size: 1.2rem;
            }

                h1.project-title {
                    font-size: 1.3rem
                }
    
                h4.project-type {
                    font-size: 1.0rem
                }
    
                h6.project-summary {
                    display: none;
                }

                h6.read {
                    font-size: .6rem
                }

                .img-text {
                    font-size: .8rem;;
                    word-wrap: normal;
                }
                h3, h4, h5 {
                    font-size: 1.4rem;
                }


        }




        

            @media only screen and (max-width: 575.5px) {

                /* Text Sizing */
                .col span {
                    font-size: .9em;
                }


                body, p, li {
                    font-size: .8rem;
                }

                h2 {
                    font-size: 1.8rem;
                }

                h3, h4, h5 {
                    font-size: 1.4rem;
                }
                
                .mobile a#home {
                    margin: 10px auto;
                }


                /* All Else */
                .col-12.flip.logo.light {
                    display: none;
                }

                .col-12.flip.mobile-nav {
                    background: #000016;
                    display: block;
                }

                .col-12.flip.mobile-nav #home {
                    max-width: 25%;
                }

            .header {
                height: auto;
                min-height: auto;
                background: #eeeff7;
            }

            .col-12.flip {
                border-bottom: 2px solid #000016;
            }


            a.header-button {
                color: #000016;
                border-bottom: 0px;
                border-left: 0px;
                }


                .header-button {
                    margin: 10px auto;
                    display: block;
                    white-space: nowrap;
                    }
                
            .header-button.active {
                background-color: #0e5787;
                color: #eeeff7;
                border-bottom: 0px solid #eeeff7;
                border-left: 0px solid;
                margin-bottom: 10px;
                }

                
                .topnav .col-12.flip.collapse {
                    display: none;
                    }
                    
                    .topnav .header-button:hover {
                        color: #eeeff7;
                    background-color: #0e5787;
                    border-left: 0px solid #eeeff7;
                    border-bottom: 0px solid #eeeff7;
                    margin: 10px auto;
                    }

                    a:hover{
                        color: #eeeff7;
                    }

                    .mobile .col-2 {
                        display: none;
                    }

            .header .copyright {
                display: none;
            }
            
            .logo, .ham {
                background: #000016;
            }
            
            .logo {
                max-width: 50%;
            }

            .col-6.ham {
                flex-basis: 50%;
                padding-right: 5%;
                
            }

            .topnav {
                margin: 0px;
                max-width: 100%;
            }

            .topnav a:not(.header-button) {
            text-align: left;
            }
            
            .topnav .button{
                display: none;
            }

            .topnav a.icon {
                float: right;
            }
            
            .topnav .icon {
                position: absolute;
                right: 10px;
                top: 5px;
            }

            .topnav.responsive .col-12.flip.mobile{
                float: none;
                display: block;
                text-align: left;
                max-width: 100%;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            
            .topnav.responsive .col-12.flip.light{
                display: none;
            }



            .container-fluid {
                padding-left: 15px;
                padding-right: 15px;
            }
            
           
            .header {
                width: 100%;
            }
            
            #logo {
                width: auto;
                max-height: 4vh;
            }
            
            
            #content_area {
                padding: 0px;
            }

            h1.project-title {
                font-size: 1.2rem
            }

            h4.project-type {
                font-size: .9rem
            }

            .img-text {
                font-size: .8rem;;
                word-wrap: normal;
            }

            .topnav .material-icons.cont-arrow.collapsed {
                display: none;
            }

            .topnav .material-icons.cont-arrow {
                display: none;
            }

            .topnav .center {
                width: 100%;
                max-width: 100%;
            }
        }